* {
	font-family: 'Lato', sans-seriff;
	font-weight: 300 !important;
	/* 	margin: 0; */
	/*   padding: 0; */
}

body, p, li, a {
	font-size: large;
	-webkit-font-smoothing: subpixel-antialiased
}

h1, h2, h3 {
	font-weight: 400;
}

input {
	font-size: large;
	box-sizing: border-box;
}

html, body {
	min-height: 95vh;
	display: flex;
	flex-direction: column;
}

body {
	overflow:hidden;
	width: 70%;
	margin: 0;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
}

.divborder {
	border: thin solid #336699;
	border-radius: 5px;
	background-color: #E6EBED;
}

#banner {
	overflow:hidden;
	min-height: 10vh;
	background-color: #336699;
	margin-top: 0.5rem;
	display:flex;
    align-items: center;
    justify-content: center;
}

#banner h1 {
	color: white;
	font-size: xx-large;
	display: inline-block;
	vertical-align: middle;
}

#content {
	height: 80vh;
	width: 100%;
	margin-top: 5px;
	overflow-y: auto;
}

#contentmargin {
	padding: 1rem;
}

.form {
	margin: auto auto 10rem auto;
    width: calc(100% - 40px);
}

.column {
	flex-grow:1;
	display: flex;
}

.row {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.url {
	min-width: 75%;
}
