<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Error page</title>
<link
	href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold'
	rel='stylesheet' type='text/css' />
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400"
	rel="stylesheet" />
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../css/style.css" />
</head>
<body>
	<div id="banner" class="divborder">
		<h1>Tiny URL</h1>
	</div>
	<div id="content" class="divborder">
		<div id="contentmargin">
			<h1>404</h1>
			<p th:utext="${errorMessage}">An error occured</p>
			<a href="index.html" th:href="@{/index.html}">Back to Home Page</a>
		</div>
	</div>
</body>
</html>