<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Tiny URL</title>
<link
	href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold'
	rel='stylesheet' type='text/css' />
<link
	href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400"
	rel="stylesheet" />
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link rel="stylesheet" th:href="@{/css/style.css}"
	href="../../css/style.css" />
</head>
<body>
	<div id="banner" class="divborder">
		<h1>Tiny URL</h1>
	</div>
	<div id="content" class="divborder">
		<div id="contentmargin">
			<form th:action="@{/tinyURL}" th:object="${fullUrlPost}" method="post">
				<table class="form">
					<tr>
						<td>
							<div class="row">
								<div class="column">
									<span>Full URL : </span><input type="text" th:field="*{fullURL}" class="url"/>
								</div>
								<div class="column">
									<span>Generated tiny URL : </span><span th:text="${genTinyURL}"></span>
								</div>
							</div>
						</td>
						<td th:if="${#fields.hasErrors('fullURL')}" th:errors="*{fullURL}">Incorrect URL</td>
					</tr>
					<tr>
						<td><button type="submit">Convert to tiny URL</button></td>
					</tr>
				</table>
			</form>
			<form th:action="@{/fullURL}" th:object="${tinyUrlPost}" method="post">
				<table class="form">
					<tr>
						<td>
							<div class="row">
								<div class="column">
									<span>Tiny URL : </span><input type="text" th:field="*{tinyURL}" class="url"/>
								</div>
								<div class="column">
									<span>Original Full URL : </span><span th:text="${tinyURLToFull}"></span>
								</div>
							</div>
						</td>
						<td th:if="${#fields.hasErrors('tinyURL')}" th:errors="*{tinyURL}">Incorrect URL</td>
					</tr>
					<tr>
						<td><button type="submit">Recover URL</button></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>